/* space out the results area a little bit */
body {
	font-size: 200%;
	background-color: #E8E8E8;
}

#message-area {
	padding-top: 50px;
	padding-left: 50px;
}

#message {
	padding-bottom: 50px;
}

#results-message {
	padding-bottom: 50px;
}

#result {
	padding-bottom: 40px;
}

#result-title {
	font-size: 110%;
	font-weight: bold;
	padding-bottom: 10px;
}

.footer-paging {
	height: 55px;	
}